a{
    color: red;
}

.active{
    font-weight: bold;
    color: green !important;
}

.active a{
    color: green;
}

.contenuto-spalmato{
    width: 100%;
}

.testo-colorato{
    color: blue;
    font-weight: bold;
}