.tabella-piena{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

.tabella-piena td{
    border: 1px solid;
}

.allinea-centro{
    text-align: center;
}

.padding-interno{
    padding: 20px;
}

.tabella-piena th{
    background-color: lightblue;
}

.dispari{
    background-color: lightcyan;
}