.div-contenitore{
    background-color: darkseagreen;
    width: 80%;
    padding: 20px;
}

.div-principale{
    background-color:darkgray;
    padding: 20px;
    width: 50%;
}

.contenitore-figli{
    width: 100%;
}

.figlio{
    width: 400px;
    background-color: darkseagreen;
    float: left;
    margin: 5px;
    padding: 10px;
}

.dimensione-piena{
    width: 100% !important;
}

img{
    width: 50% !important;
}