.contenitore{
    width: 100%;
    background-color: lightcyan;
}

.header{
    background-color: lightgreen;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.contenuto{
    width: 100%;
}

.menu{
    background-color: limegreen;
    padding: 20px;
    width: 33%;
    float: left;    
}

.tabella{
    background-color: red;
    float: left;
    width: 60%;
}

.celletta{
    float:left;
    width: 33%;
}
